[Desktop Entry]
Name=Keyboard
Comment=View and change keyboard shortcuts and set your typing preferences
Icon=input-keyboard
Keywords=Shortcut;Repeat;Blink;
X-Liri-PluginInfo-Type=LiriSettings
X-Liri-PluginInfo-Name=io.liri.Settings.Keyboard
X-Liri-PluginInfo-Author=Pier Luigi Fiorini
X-Liri-PluginInfo-Email=pierluigi.fiorini@gmail.com
X-Liri-PluginInfo-Website=http://www.maui-project.org
X-Liri-PluginInfo-License=GPLv3+
X-Liri-PluginInfo-MainScript=ui/Preflet.qml
X-Liri-LiriSettings-Category=Hardware
