[Desktop Entry]
Name=Keyboard
Comment=View and change keyboard shortcuts and set your typing preferences
Icon=input-keyboard
Keywords=Shortcut;Repeat;Blink;
X-Hawaii-PluginInfo-Type=HawaiiSystemPreferences
X-Hawaii-PluginInfo-Name=org.hawaii.preferences.keyboard
X-Hawaii-PluginInfo-Author=Pier Luigi Fiorini <pierluigi.fiorini@gmail.com>
X-Hawaii-PluginInfo-Email=pierluigi.fiorini@gmail.com
X-Hawaii-PluginInfo-Website=http://www.maui-project.org
X-Hawaii-PluginInfo-License=GPLv2+
X-Hawaii-PluginInfo-MainScript=ui/Preflet.qml
X-Hawaii-HawaiiSystemPreferences-Category=Hardware
