[Desktop Entry]
Type=Application
Name=Details
Comment=View information about your system
Keywords=Device;System;Information;Memory;Processor;Version;Default;Application;Preferred;CD;DVD;USB;Audio;Video;Disc;Removable;Media;Autorun
Icon=applications-system
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=system
X-Liri-Settings-SymbolicIcon=action/info


# Translations
Comment[fr]=Voyez des informations sur votre système
Name[fr]=Détails
Icon[fr]=applications-système
