[Desktop Entry]
Categories=Qt;X-Liri;Settings;
Comment=Select your display language and formats
Icon=applications-system
Keywords=Language;Region;Format;
Name=Region & Language
OnlyShowIn=X-Liri;
Type=Application
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=action/language
