[Desktop Entry]
Type=Application
Name=Region & Language
Comment=Select your display language and formats
Keywords=Language;Region;Format;
Icon=applications-system
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=action/language


# Translations
Icon[nl]=applicatie-systeem
Name[nl]=Gebied & Taal
Comment[nl]=Kies je display taal en formaat
