[Desktop Entry]
Type=Application
Name=Region & Language
Comment=Select your display language and formats
Keywords=Language;Region;Format;
Icon=applications-system
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=action/language


# Translations
Icon[zh_CN]=应用-系统
Name[zh_CN]=地区和语言
Comment[zh_CN]=选择您的显示语言和格式
