[Desktop Entry]
Type=Application
Name=Region & Language
Comment=Select your display language and formats
Keywords=Language;Region;Format;
Icon=applications-system
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=action/language


# Translations
Icon[pt_BR]=applications-system
Name[pt_BR]=Região e idioma
Comment[pt_BR]=Selecione seu idioma e formato de exibição
