[Desktop Entry]
Type=Application
Name=Region & Language
Comment=Select your display language and formats
Keywords=Language;Region;Format;
Icon=applications-system
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=action/language


# Translations
Icon[fr]=applications-system
Name[fr]=Région & langue
Comment[fr]=Sélectionnez votre langue d'affichage et des formats
