[Desktop Entry]
Name=Keyboard
Comment=View and change keyboard shortcuts and set your typing preferences
Keywords=Shortcut;Repeat;Blink;


# Translations


# Translations
Comment[ca]=Vegeu i canvieu les dreceres del teclat i establiu les preferències de tecleig
Name[ca]=Teclat
