[Desktop Entry]
Name=Keyboard
Comment=View and change keyboard shortcuts and set your typing preferences
Keywords=Shortcut;Repeat;Blink;


# Translations


# Translations
Comment[ru]=Просмотр и изменение горячих клавиш, а также настройки набора текста.
Name[ru]=Клавиатура
