[Desktop Entry]
Name=Keyboard
Comment=View and change keyboard shortcuts and set your typing preferences
Keywords=Shortcut;Repeat;Blink;


# Translations


# Translations
Comment[cs_CZ]=Prohlížejte a měňte klávesové zkratky a nastavte způsob, jakým píšete
Name[cs_CZ]=Klávesnice
