[Desktop Entry]
Name=Keyboard
Comment=View and change keyboard shortcuts and set your typing preferences
Keywords=Shortcut;Repeat;Blink;


# Translations


# Translations
Comment[hr_HR]=Pogledaj i promjeni prečace tipkovnice i postavi svoje osobitosti tipkanja
Name[hr_HR]=Tipkovnica
