[Desktop Entry]
Name=Keyboard
Comment=View and change keyboard shortcuts and set your typing preferences
Keywords=Shortcut;Repeat;Blink;


# Translations


# Translations
Comment[pt]=Ver e alterar teclas de atalho e definir as suas preferências de escrita
Name[pt]=Teclado
