[Desktop Entry]
Name=Keyboard
Comment=View and change keyboard shortcuts and set your typing preferences
Keywords=Shortcut;Repeat;Blink;


# Translations


# Translations
Comment[sk]=Zobrazenie a zmena klávesových skratiek a nastavenie vlastností zadávania textu
Name[sk]=Klávesnica
