[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Keyboard
Comment=View and change keyboard shortcuts and set your typing preferences
Keywords=shortcut;repeat;blink;
Icon=input-keyboard
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=hardware/keyboard

#TRANSLATIONS_DIR=translations


# Translations
Comment[es_419]=Ver y cambiar los métodos abreviados de teclado y configurar sus preferencias de escritura
Name[es_419]=Teclado
Icon[es_419]=entrada-teclado
