[Desktop Entry]
Name=Keyboard
Comment=View and change keyboard shortcuts and set your typing preferences
Keywords=Shortcut;Repeat;Blink;


# Translations


# Translations
Comment[it]=Visualizza e cambia le scorciatoie da tastiera imposta le preferenze di digitazione
Name[it]=Tastiera
