[Desktop Entry]
Type=Application
Name=Settings
GenericName=Settings
Comment=Manages system settings
#TRANSLATIONS
Icon=preferences-system
Exec=liri-settings
TryExec=liri-settings
Terminal=false
StartupNotify=true
Categories=Qt;X-Liri;Settings;Core;
OnlyShowIn=X-Liri;
Keywords=Preferences;Settings;
DBusActivatable=true


# Translations
Comment[ru]=Управление настройками системы
GenericName[ru]=Настройки
Name[ru]=Настройки
Icon[ru]=preferences-system
