[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Keywords=Preferences;Settings;


# Translations


# Translations
Comment[kk]=Жүйелік баптауларды басқару
GenericName[kk]=Жүйелік баптаулар
Name[kk]=Жүйелік баптаулар
