[Desktop Entry]
Type=Application
Name=Settings
GenericName=Settings
Comment=Manages system settings
#TRANSLATIONS
Icon=preferences-system
Exec=liri-settings --xdg-application
TryExec=liri-settings
Terminal=false
StartupNotify=true
Categories=Qt;X-Liri;Settings;Core;
OnlyShowIn=X-Liri;
Keywords=Preferences;Settings;
DBusActivatable=true


# Translations
Comment[ja_JP]=環境設定を管理する
GenericName[ja_JP]=環境設定
Name[ja_JP]=環境設定
