[Desktop Entry]
Type=Application
Name=Settings
GenericName=Settings
Comment=Manages system settings
#TRANSLATIONS
Icon=preferences-system
Exec=liri-settings
TryExec=liri-settings
Terminal=false
StartupNotify=true
Categories=Qt;X-Liri;Settings;Core;
OnlyShowIn=X-Liri;
Keywords=Preferences;Settings;
DBusActivatable=true


# Translations
Comment[es]=Configura los ajustes del sistema
GenericName[es]=Ajustes
Name[es]=Ajustes
Icon[es]=preferencias-sistema
