[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Keywords=Preferences;Settings;


# Translations


# Translations
Comment[sk]=Spravuje nastavenia systému
GenericName[sk]=Nastavenia systému
Name[sk]=Nastavenia systému
