[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Settings
GenericName=Settings
Comment=Manages system settings
#TRANSLATIONS
Icon=preferences-system
Exec=liri-settings
TryExec=liri-settings
Terminal=false
StartupNotify=true
Categories=Qt;X-Liri;Settings;Core;
OnlyShowIn=X-Liri;
Keywords=Preferences;Settings;


# Translations
Comment[es_419]=Administre la configuración del sistema
GenericName[es_419]=Ajustes
Name[es_419]=Ajustes
Icon[es_419]=preferencias-sistema
