[Desktop Entry]
Type=Application
Name=Settings
GenericName=Settings
Comment=Manages system settings
#TRANSLATIONS
Icon=preferences-system
Exec=liri-settings
TryExec=liri-settings
Terminal=false
StartupNotify=true
Categories=Qt;X-Liri;Settings;Core;
OnlyShowIn=X-Liri;
Keywords=Preferences;Settings;


# Translations
Comment[pt_BR]=Gerenciar configurações do sistema
GenericName[pt_BR]=Configurações
Name[pt_BR]=Configurações
Icon[pt_BR]=preferences-system
