[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Keywords=Preferences;Settings;


# Translations


# Translations
GenericName[bg]=Системни настройки
Name[bg]=Системни настройки
