[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Keywords=Preferences;Settings;


# Translations


# Translations
Comment[ca]=Gestió de les preferències del sistema
GenericName[ca]=Preferències del sistema
Name[ca]=Preferències del sistema
