[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Keywords=Preferences;Settings;


# Translations


# Translations
Comment[pt]=Gere as preferências do sistema
GenericName[pt]=Preferências do Sistema
Name[pt]=Preferências do Sistema
