[Desktop Entry]
Type=Application
Name=Settings
GenericName=Settings
Comment=Manages system settings
#TRANSLATIONS
Icon=preferences-system
Exec=liri-settings --xdg-application
TryExec=liri-settings
Terminal=false
StartupNotify=true
Categories=Qt;X-Liri;Settings;Core;
OnlyShowIn=X-Liri;
Keywords=Preferences;Settings;
DBusActivatable=true


# Translations
Comment[pl]=Zarządza ustawieniami systemu
GenericName[pl]=Ustawienia systemu
Name[pl]=Ustawienia systemu
Icon[pl]=ustawienia-systemu
