[Desktop Entry]
Type=Application
Name=Settings
GenericName=Settings
Comment=Manages system settings
#TRANSLATIONS
Icon=preferences-system
Exec=liri-settings
TryExec=liri-settings
Terminal=false
StartupNotify=true
Categories=Qt;X-Liri;Settings;Core;
OnlyShowIn=X-Liri;
Keywords=Preferences;Settings;


# Translations
Comment[ar]=إدارة تفضيلات النظام
GenericName[ar]=تفضيلات النظام
Name[ar]=تفضيلات النظام
