[Desktop Entry]
Type=Application
Name=Appearance
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[it]=Aspetto
Name[lt]=Išvaizda
Name[pt_BR]=Aparência
Name[ru]=Внешний вид
Name[tr]=Görünüm
Name[zh_CN]=外观
Comment=Change the appearance of your desktop
Comment[da]=Skift dit skrivebords udseende
Comment[de]=Ändern Sie das Erscheinungsbild Ihres Schreibtischs
Comment[it]=Modifica l'aspetto del desktop
Comment[lt]=Keisti savo darbalaukio išvaizdą
Comment[pt_BR]=Altere a aparência da sua área de trabalho
Comment[ru]=Изменить внешний вид вашего рабочего стола
Comment[tr]=Masaüstünüzün görünümünü değiştirin
Comment[zh_CN]=改变桌面的外观
Keywords=Appearance;Style;Background;Wallpaper;Color;Theme;Desktop;Personalize;
Keywords[da]=Udseende;Stil;Baggrund;Tapet;Farve;Tema;Skrivebord;Tilpas;
Keywords[de]=Erscheinungsbild;Stil;Hintergrund;Hintergrundbild;Farbe;Thema;Schreibtisch;Personalisieren;
Keywords[it]=Aspetto;Stile;Sfondo;Wallpaper;Colore;Tema;Desktop;Personalizza;
Keywords[lt]=Išvaizda;Stilius;Fonas;Darbalaukio fonas;Spalva;Tema;Apipavidalinimas;Darbalaukis;Personalizuoti;Asmeninti;
Keywords[pt_BR]=Aparência;Estilo;Fundo;Papel de parede;Cor;Tema;Área de trabalho;Desktop;Personalizar;
Keywords[ru]=Внешний вид;Стиль;Фон;Обои;Цвет;Тема;Рабочий стол;Персонализация;
Keywords[tr]=Görünüm;Stil;Arkaplan;Duvarkağıdı;Renk;Tema;Gövde;Masaüstü;Kişiselleştir;
Keywords[zh_CN]=外观;样式;背景;壁纸;颜色;主题;桌面;个性化;
Icon=applications-system
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=image/style
