[Desktop Entry]
Type=Application
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
#TRANSLATIONS
Icon=preferences-desktop-wallpaper
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=image/color_lens


# Translations
Comment[tr]=Arka plan resminizi bir duvar kağıdına, fotoğrafa veya düz renge değiştirin
Name[tr]=Arka plan
Icon[tr]=preferences-desktop-wallpaper
