[Desktop Entry]
Type=Application
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
#TRANSLATIONS
Icon=preferences-desktop-wallpaper
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=image/color_lens


# Translations
Comment[ca]=Canvia la teva imatge de fons per un fons de pantalla, una foto o un color sòlid
Name[ca]=Fons
Icon[ca]=preferències-escriptori-fons de pantalla
