[Desktop Entry]
Type=Application
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
#TRANSLATIONS
Icon=preferences-desktop-wallpaper
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=image/color_lens


# Translations
Comment[pt_BR]=Altere seu plano de fundo para uma imagem, fotografia ou cor sólida
Name[pt_BR]=Plano de fundo
Icon[pt_BR]=preferences-desktop-wallpaper
