[Desktop Entry]
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
Keywords=Wallpaper;Screen;Desktop;


# Translations


# Translations
Comment[pt_BR]=Altere o plano de fundo para um papel de parede, foto ou cor sólida
Name[pt_BR]=Plano de fundo
