[Desktop Entry]
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
Keywords=Wallpaper;Screen;Desktop;


# Translations


# Translations
Comment[pt]=Altere a sua imagem de fundo para um papel de parede, fotografia, ou cor sólida
Name[pt]=Fundo
