[Desktop Entry]
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
Keywords=Wallpaper;Screen;Desktop;


# Translations
Comment[ast]=Camuda la to imaxe de fondu a un fondu d'escritoriu, semeya o color sólida
Name[ast]=Fondu
Name[hu]=Háttér
Comment[hr_HR]=Promjenite sliku pozadine u tapetu, fotografiju iii punu boju
Name[hr_HR]=Pozadina
Comment[cs_CZ]=Změňte obrázek pozadí na tapetu nebo fotografii nebo plnou barvu
Name[cs_CZ]=Pozadí
Comment[da_DK]=Skift dit baggrundsbillede til et tapet, billede eller en solid farve
Name[da_DK]=Baggrund
Comment[fr]=Changez l'image de fond pour y mettre un fond d'écran, une photo ou une couleur solide
Name[fr]=Fond d'écran
Comment[sk]=Zmeniť obrázok pozadia na tapetu, fotku alebo výplň jednou farbou
Name[sk]=Pozadie
Comment[it]=Imposta una immagine, una foto od un colore pieno come sfondo
Name[it]=Sfondo
Comment[ca]=Canvieu la imatge de fons per un fons de pantalla, fotografia o color sòlid
Name[ca]=Fons
Comment[de]=Ändern Sie Ihren Hintergrund zu einem Wallpaper, Photo oder einer Farbe
Name[de]=Hintergrund
Comment[ru]=Замените свой фон на обои, фотографию или сплошной цвет
Name[ru]=Фон
Comment[lt]=Keisti fono paveikslą į darbalaukio foną, paveikslą ar vientisą spalvą
Name[lt]=Fonas
Comment[tr]=Arkaplanı bir duvarkağıdna, foroğrafa yada düz bir renge değiştir
Name[tr]=Arkaplan
Comment[es]=Cambia tu fondo de escritorio a una imagen, foto o color sólido
Name[es]=Fondo de escritorio
Comment[ja_JP]=背景画像を壁紙、写真、または単色に変更
Name[ja_JP]=バックグラウンド
Comment[pt_BR]=Altere o plano de fundo para um papel de parede, foto ou cor sólida
Name[pt_BR]=Plano de fundo
