[Desktop Entry]
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
Keywords=Wallpaper;Screen;Desktop;


# Translations


# Translations
Comment[ast]=Camuda la to imaxe de fondu a un fondu d'escritoriu, semeya o color sólida
Name[ast]=Fondu
