[Desktop Entry]
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
Keywords=Wallpaper;Screen;Desktop;


# Translations


# Translations
Comment[es]=Cambia tu fondo de escritorio a una imagen, foto o color sólido
Name[es]=Fondo de escritorio
