[Desktop Entry]
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
Keywords=Wallpaper;Screen;Desktop;


# Translations


# Translations
Comment[ca]=Canvieu la imatge de fons per un fons de pantalla, fotografia o color sòlid
Name[ca]=Fons
