[Desktop Entry]
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
Keywords=Wallpaper;Screen;Desktop;


# Translations


# Translations
Comment[da_DK]=Skift dit baggrundsbillede til et tapet, billede eller en solid farve
Name[da_DK]=Baggrund
