[Desktop Entry]
Type=Application
Name=Users
Name[da]=Brugere
Name[it]=Utenti
Name[lt]=Naudotojai
Name[pt_BR]=Usuários
Name[ru]=Пользователи
Name[tr]=Kullanıcılar
Comment=Manage user accounts
Comment[da]=Håndter brugerkonti
Comment[it]=Gestisci Account
Comment[lt]=Tvarkyti naudotojų paskyras
Comment[pt_BR]=Gerenciar contas de usuário
Comment[ru]=Управлять аккаунтами пользователей
Comment[tr]=Kullanıcı hesaplarını yönet
Keywords=User;Users;Me;Account;People;Person;Guest;Admin;Create;Delete;Password
Keywords[da]=Bruger;Brugere;Mig;Konto;Personer;Person;Gæst;Admin;Opret;Slet;Adgangskode
Keywords[it]=Utente;Utenti;Io;Account;Persone;Persona;Ospite;Admin;Crea;Cancella;Password
Keywords[lt]=Naudotojas;Naudotojai;Aš;Paskyra;Žmonės;Asmuo;Svečias;Svečio;Administratorius;Sukurti;Ištrinti;Slaptažodis
Keywords[pt_BR]=Usuário;Usuários;Eu;Conta;Pessoas;Pessoa;Convidado;Admin;Administrador;Criar;Excluir;Senha;
Keywords[ru]=Пользователь;Пользователи;Я;Аккаунт;Люди;Персона;Гость;Администратор;Создать;Удалить;Пароль
Keywords[tr]=Kullanıcı;Kullanıcılar;Ben;Hesap;İnsanlar;Kişi;Misafir;Yönetici;Admin;Oluştur;Yarat;Sil;Parola;
Icon=preferences-system-users
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=system
X-Liri-Settings-SymbolicIcon=social/people
