[Desktop Entry]
Categories=Qt;X-Liri;Settings;
Comment=Manage user accounts
Comment[ca]=Administri els comptes d'usuari
Comment[da]=Håndter brugerkonti
Comment[de]=Benutzerprofile verwalten
Comment[el]=Διαχείριση λογαριασμών χρηστών
Comment[es]=Administrar cuentas de ususario
Comment[es_419]=Administrar cuentas de usuario
Comment[es_MX]=Administrar cuentas de usuario
Comment[fr]=Gérez les comptes utilisateurs
Comment[id]=Kelola akun
Comment[it]=Gestisci Account
Comment[ja]=ユーザーアカウントの管理
Comment[ko]=사용자 계정 관리
Comment[lt]=Tvarkyti naudotojų paskyras
Comment[nl]=Beheer gebruikersaccounts
Comment[pl]=Zarządzaj kontami użytkowników
Comment[pt_BR]=Gerenciar contas de usuário
Comment[pt_PT]=Gerir contas de utilizadores
Comment[ru]=Управления аккаунтами пользователей
Comment[tr]=Kullanıcı hesaplarını yönet
Comment[zh_CN]=管理用户账户
Comment[zh_TW]=管理使用者帳戶
Icon=preferences-system-users
Keywords=User;Users;Me;Account;People;Person;Guest;Admin;Create;Delete;Password
Name=Users
Name[ca]=Usuaris
Name[da]=Brugere
Name[de]=Benutzer
Name[el]=Χρήστες
Name[es]=Usuarios
Name[es_419]=Usuarios
Name[es_MX]=Usuarios
Name[fr]=Utilisateurs
Name[id]=User
Name[it]=Utenti
Name[ja]=ユーザー
Name[ko]=사용자
Name[lt]=Naudotojai
Name[nl]=Gebruikers
Name[pl]=Użytkownicy
Name[pt_BR]=Usuários
Name[pt_PT]=Utilizadores
Name[ru]=Пользователи
Name[tr]=Kullanıcılar
Name[zh_CN]=用户
Name[zh_TW]=使用者
OnlyShowIn=X-Liri;
Type=Application
X-Liri-Settings-Category=system
X-Liri-Settings-SymbolicIcon=social/people
