[Desktop Entry]
Categories=Qt;X-Liri;Settings;
Comment=View information about your system
Comment[ca]=Veure informació sobre el seu sistema
Comment[da]=Vis information om dit system
Comment[de]=Systeminformationen ansehen
Comment[el]=Δείτε πληροφορίες σχετικά με το σύστημά σας
Comment[es]=Ver información sobre el sistema
Comment[es_419]=Ver información sobre su sistema
Comment[es_MX]=Ver información sobre su sistema
Comment[fr]=Voyez des informations sur votre système
Comment[id]=Lihat informasi mengenai sistem Anda
Comment[it]=Visualizza infomazioni riguardo il tuo sistema
Comment[ja]=システムについての情報を表示
Comment[lt]=Rodyti informaciją apie jūsų sistemą
Comment[nl]=Bekijk informatie over jouw systeem
Comment[no]=Se informasjon om systemet
Comment[pl]=Zobacz informacje o systemie
Comment[pt_BR]=Ver informações sobre o seu sistema
Comment[pt_PT]=Ver informações do sistema
Comment[ru]=Просмотреть информацию о системе
Comment[tr]=Sisteminiz hakkında bilgileri görün
Comment[zh_CN]=查看关于系统的信息
Comment[zh_TW]=檢視系統資訊
Icon=applications-system
Keywords=Device;System;Information;Memory;Processor;Version;Default;Application;Preferred;CD;DVD;USB;Audio;Video;Disc;Removable;Media;Autorun
Name=Details
Name[ca]=Detalls
Name[da]=Detaljer
Name[de]=Details
Name[el]=Λεπτομέρειες
Name[es]=Detalles
Name[es_419]=Detalles
Name[es_MX]=Detalles
Name[fr]=Détails
Name[id]=Detail
Name[it]=Dettagli
Name[ja]=詳細
Name[lt]=Išsamiau
Name[nl]=Details
Name[no]=Detaljer
Name[pl]=Szczegóły
Name[pt_BR]=Detalhes
Name[pt_PT]=Detalhes
Name[ru]=Детали
Name[tr]=Ayrıntılar
Name[zh_CN]=细节
Name[zh_TW]=詳細資訊
OnlyShowIn=X-Liri;
Type=Application
X-Liri-Settings-Category=system
X-Liri-Settings-SymbolicIcon=action/info
