[Desktop Entry]
Name=Displays
Comment=Choose how to use connected monitors and projectors
Keywords=Panel;Projector;Output;Screen;Resolution;Refresh;Monitor;


# Translations
