[Desktop Entry]
Type=Application
Name=Displays
Comment=Choose how to use connected monitors and projectors
#TRANSLATIONS
Icon=preferences-desktop-display
TryExec=liri-settings
Exec=liri-settings display
Categories=Qt;X-Liri;Settings;HardwareSettings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=hardware/desktop_windows


# Translations
Comment[ja]=モニターやプロジェクタの使い方を設定
Name[ja]=ディスプレイ
