[Desktop Entry]
Type=Application
Name=Displays
Comment=Choose how to use connected monitors and projectors
#TRANSLATIONS
Icon=preferences-desktop-display
TryExec=liri-settings
Exec=liri-settings display
Categories=Qt;X-Liri;Settings;HardwareSettings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=hardware/desktop_windows


# Translations
Comment[ca]=Tría com utilitzar els monitors i projectors connectats
Name[ca]=Pantalles
Icon[ca]=preferències-escriptori-pantalla
