[Desktop Entry]
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
Icon=preferences-desktop-wallpaper
Keywords=Wallpaper;Screen;Desktop;
X-Hawaii-PluginInfo-Type=HawaiiSettings
X-Hawaii-PluginInfo-Name=org.hawaiios.preferences.background
X-Hawaii-PluginInfo-Author=Pier Luigi Fiorini <pierluigi.fiorini@gmail.com>
X-Hawaii-PluginInfo-Email=pierluigi.fiorini@gmail.com
X-Hawaii-PluginInfo-Website=http://www.maui-project.org
X-Hawaii-PluginInfo-License=GPLv2+
X-Hawaii-PluginInfo-MainScript=ui/Preflet.qml
X-Hawaii-HawaiiSettings-Category=Personal
