[Desktop Entry]
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
Icon=preferences-desktop-wallpaper
Keywords=Wallpaper;Screen;Desktop;
X-Liri-PluginInfo-Type=LiriSettings
X-Liri-PluginInfo-Name=io.liri.Settings.Background
X-Liri-PluginInfo-Author=Pier Luigi Fiorini
X-Liri-PluginInfo-Email=pierluigi.fiorini@gmail.com
X-Liri-PluginInfo-Website=http://liri.io
X-Liri-PluginInfo-License=GPLv3+
X-Liri-PluginInfo-MainScript=ui/Preflet.qml
X-Liri-LiriSettings-Category=Personal
