[Desktop Entry]
Name=Network
Comment=Control how you connect to the Internet
Keywords=network;ethernet;wifi;wired;wireless;
Encoding=UTF-8
Type=Service
Icon=preferences-system-network
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware
