[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sound
Comment=Change sound levels, inputs, outputs, and alert sounds
Keywords=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;
Icon=multimedia-volume-control
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=av/volume_up


# Translations
Comment[de]=Lautstärke, Ein- und Ausgabegeräte und Hinweistöne ändern
Name[de]=Sound
Icon[de]=multimedia-volume-control
