[Desktop Entry]
Type=Application
Name=Sound
Comment=Change sound levels, inputs, outputs, and alert sounds
Keywords=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;
Icon=multimedia-volume-control
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=av/volume_up


# Translations
Comment[it]=Cambia livelli audio, input, output e notifiche
Name[it]=Suoneria
Icon[it]=Controllo volume multimediale
