[Desktop Entry]
Categories=Qt;X-Liri;Settings;
Comment=Change your background image to a wallpaper, photo or solid color
Comment[ca]=Canvia la teva imatge de fons per un fons de pantalla, una foto o un color sòlid
Comment[da]=Skift dit baggrundsbillede til et tapet, billede eller ensfarvet farve
Comment[da_DK]=Skift dit baggrundsbillede til et tapet, billede eller en solid farve
Comment[de]=Ändere das Hintergrundbild zu einem Wallpaper, Foto oder Farbe
Comment[el]=Αλλάξτε την εικόνα φόντου σε μια ταπετσαρία, φωτογραφία ή συμπαγές χρώμα
Comment[es]=Cambia tu imagen de fondo a un fondo de pantalla, foto o color sólido
Comment[es_419]=Cambie su imagen de fondo a un wallpaper, foto o color sólido
Comment[es_MX]=Cambie su imagen de fondo a un fondo a una imagen, foto o color sólido
Comment[fr]=Changez votre image d'arrière plan par un fond d'écran, une photo ou une couleur plaine
Comment[id]=Ubah gambar latar belakang Anda dengan wallpaper, foto, atau warna solid
Comment[it]=Cambia la tua immagine di sfondo con un wallpaper, una foto o un colore
Comment[ja]=背景画像を好きな壁紙や写真に変更できます
Comment[lt]=Keisti fono paveikslą į darbalaukio foną, nuotrauką ar vientisą spalvą
Comment[nl]=Verander de achtergrondfoto naar een wallpaper, foto of een kleur
Comment[no]=Endre bakgrunnsbildet til en bakgrunn, et bilde eller en solid farge
Comment[pl]=Zmień swój obraz tła na tapetę, zdjęcie lub kolor
Comment[pt]=Mudar a imagem de fundo para um papel de parede, foto ou cor sólida
Comment[pt_BR]=Altere seu plano de fundo para uma imagem, fotografia ou cor sólida
Comment[pt_PT]=Altere o fundo de ecrã com um papel de parede, fotografia ou cor sólida
Comment[ru]=Сменить фоновое изображение на обои, фотографию или сплошной цвет
Comment[tr]=Arka plan resminizi bir duvar kağıdına, fotoğrafa veya düz renge değiştirin
Comment[zh_CN]=将背景图片更改为一张壁纸、照片或者纯色
Comment[zh_TW]=變更背景為桌布、相片或純色板
Icon=preferences-desktop-wallpaper
Name=Background
Name[ca]=Fons
Name[da]=Baggrund
Name[da_DK]=Baggrund
Name[de]=Hintergrundbild
Name[el]=Φόντο
Name[es]=Fondo de escritorio
Name[es_419]=Fondo
Name[es_MX]=Fondo
Name[fr]=Arrière-Plan
Name[id]=Latar Belakang
Name[it]=Sfondo
Name[ja]=背景
Name[lt]=Fonas
Name[nl]=Achtergrond
Name[no]=Bakgrunn
Name[pl]=Tło
Name[pt]=Papel de fundo
Name[pt_BR]=Plano de fundo
Name[pt_PT]=Fundo de ecrã
Name[ru]=Фон
Name[tr]=Arka plan
Name[zh_CN]=背景
Name[zh_TW]=背景
OnlyShowIn=X-Liri;
Type=Application
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=image/color_lens
