[Desktop Entry]
Categories=Qt;X-Liri;Settings;HardwareSettings;
Comment=Choose how to use connected monitors and projectors
Comment[ca]=Tría com utilitzar els monitors i projectors connectats
Comment[da]=Vælg hvordan tilsluttede skærme og projektorer skal bruges
Comment[de]=Auswählen, wie angeschlossene Bildschirme und Projektoren verwendet werden
Comment[el]=Επιλέξτε τον τρόπο χρήσης των συνδεδεμένων οθονών και προβολέων
Comment[es]=Elige como usar los monitores y proyectores conectados.
Comment[es_419]=Elegir cómo utilizar monitores y proyectores conectados
Comment[es_MX]=Elija cómo utilizar monitores y proyectores conectados
Comment[fr]=Choisissez comment connecter les moniteurs et projecteurs
Comment[id]=Pilih bagaimana monitor dan proyektor digunakan
Comment[it]=Scegli come utilizzare monitor esterni e proiettori
Comment[ja]=モニターやプロジェクタの使い方を設定
Comment[lt]=Pasirinkti kaip naudoti prijungtus monitorius ir projektorius
Comment[nl]=Kies hoe verbonden schermen en projectors worden gebruikt
Comment[no]=Velg hvordan tilkoblede monitorer og projektorer skal brukes
Comment[pl]=Wybierz sposób używania podłączanych monitorów i projektorów
Comment[pt_BR]=Escolha como usar os monitores e projetores conectados
Comment[pt_PT]=Escolha como conectar monitores e projectore
Comment[ru]=Выберите, как использовать подключенные мониторы и проекторы
Comment[tr]=Bağlı monitörlerin ve göstericilerin nasıl kullanılacağını seç
Comment[zh_CN]=你将怎样使用连接的显示器和投影设备？
Comment[zh_TW]=選擇如何連接螢幕及投影機
Exec=liri-settings display
Icon=preferences-desktop-display
Name=Displays
Name[ca]=Pantalles
Name[da]=Skærme
Name[de]=Bildschirme
Name[el]=Οθόνες
Name[es]=Monitores
Name[es_419]=Monitores
Name[es_MX]=Pantallas
Name[fr]=Affichages
Name[id]=Tampilan
Name[it]=Schermi
Name[ja]=ディスプレイ
Name[lt]=Ekranai
Name[nl]=Beeldschermen
Name[no]=Skjermer
Name[pl]=Ekrany
Name[pt_BR]=Telas
Name[pt_PT]=Ecrãs
Name[ru]=Дисплеи
Name[tr]=Ekranlar
Name[zh_CN]=显示
Name[zh_TW]=顯示
OnlyShowIn=X-Liri;
TryExec=liri-settings
Type=Application
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=hardware/desktop_windows
