[Desktop Entry]
Name=Displays
Comment=Choose how to use connected monitors and projectors
Keywords=Panel;Projector;Output;Screen;Resolution;Refresh;Monitor;


# Translations


# Translations
Comment[cs_CZ]=Vyberte, jak použít spojené obrazovky a promítací stroje
Name[cs_CZ]=Obrazovky
