[Desktop Entry]
Name=Displays
Comment=Choose how to use connected monitors and projectors
Keywords=Panel;Projector;Output;Screen;Resolution;Refresh;Monitor;


# Translations


# Translations
Comment[ca]=Trieu com usar les pantalles i els projectors connectats
Name[ca]=Pantalles
