[Desktop Entry]
Type=Application
Name=Settings
Name[ar]=تفضيلات النظام
Name[ast]=Preferencies del sistema
Name[bg]=Системни настройки
Name[ca]=Preferències del sistema
Name[cs_CZ]=Nastavení systému
Name[da]=Indstillinger
Name[de]=Systemeinstellungen
Name[el]=Προτιμήσεις συστήματος
Name[es]=Ajustes
Name[es_419]=Ajustes
Name[es_MX]=Ajustes
Name[fr]=Préférences Système
Name[hr_HR]=Osobitosti sustava
Name[hu]=Rendszerbeállítások
Name[id]=Pengaturan
Name[it]=Impostazioni
Name[ja]=設定
Name[ja_JP]=環境設定
Name[kk]=Жүйелік баптаулар
Name[lt]=Nustatymai
Name[nl]=Instellingen
Name[no]=Systeminnstillinger
Name[pl]=Ustawienia systemu
Name[pt]=Preferências do Sistema
Name[pt_BR]=Configurações
Name[pt_PT]=Definições
Name[ru]=Настройки
Name[sk]=Nastavenia systému
Name[tr]=Ayarlar
Name[zh_CN]=设置
Name[zh_TW]=設定
GenericName=Settings
GenericName[ar]=تفضيلات النظام
GenericName[ast]=Preferencies del sistema
GenericName[bg]=Системни настройки
GenericName[ca]=Preferències del sistema
GenericName[cs_CZ]=Nastavení systému
GenericName[da]=Indstillinger
GenericName[de]=Systemeinstellungen
GenericName[el]=Προτιμήσεις συστήματος
GenericName[es]=Ajustes
GenericName[es_419]=Ajustes
GenericName[es_MX]=Ajustes
GenericName[fr]=Préférences Système
GenericName[hr_HR]=Osobitosti sustava
GenericName[hu]=Rendszerbeállítások
GenericName[id]=Pengaturan
GenericName[it]=Impostazioni
GenericName[ja]=設定
GenericName[ja_JP]=環境設定
GenericName[kk]=Жүйелік баптаулар
GenericName[lt]=Nustatymai
GenericName[nl]=Instellingen
GenericName[no]=Systeminnstillinger
GenericName[pl]=Ustawienia systemu
GenericName[pt]=Preferências do Sistema
GenericName[pt_BR]=Configurações
GenericName[pt_PT]=Definições
GenericName[ru]=Настройки
GenericName[sk]=Nastavenia systému
GenericName[tr]=Ayarlar
GenericName[zh_CN]=设置
GenericName[zh_TW]=設定
Comment=Manages system settings
Comment[ar]=إدارة تفضيلات النظام
Comment[ast]=Alministra les preferencies del sistema
Comment[ca]=Gestió de les preferències del sistema
Comment[cs_CZ]=Spravuje nastavení systému
Comment[da]=Håndterer systemindstillinger
Comment[de]=Verwaltet Systemeinstellungen
Comment[el]=Διαχειρίζεται τις προτιμήσεις συστήματος
Comment[es]=Configura los ajustes del sistema
Comment[es_419]=Administre la configuración del sistema
Comment[es_MX]=Administra la configuración del sistema
Comment[fr]=Gestion des préférences système
Comment[hr_HR]=Upravlja osobitostima sustava
Comment[hu]=Rendszerbeállítások kezelése
Comment[id]=Ubah pengaturan sistem
Comment[it]=Personalizza impostazioni di sistema
Comment[ja]=システム設定を管理します
Comment[ja_JP]=環境設定を管理する
Comment[kk]=Жүйелік баптауларды басқару
Comment[lt]=Tvarko sistemos nustatymus
Comment[nl]=Beheert systeeminstellingen
Comment[no]=Behandler systeminnstillinger
Comment[pl]=Zarządza ustawieniami systemu
Comment[pt]=Gere as preferências do sistema
Comment[pt_BR]=Gerencie as configurações do sistema
Comment[pt_PT]=Gerir definições de sistema
Comment[ru]=Управляет настройками системы
Comment[sk]=Spravuje nastavenia systému
Comment[tr]=Sistem ayarlarını yönetir
Comment[zh_CN]=管理系统设置
Comment[zh_TW]=管理系統設定
Icon=preferences-system
Exec=liri-settings
TryExec=liri-settings
Terminal=false
StartupNotify=true
Categories=Qt;X-Liri;Settings;Core;
OnlyShowIn=X-Liri;
Keywords=Preferences;Settings;
Keywords[da]=Præferencer;Indstillinger;
Keywords[it]=Preferenze;Impostazioni;
Keywords[lt]=Nuostatos;Nustatymai;
Keywords[pt_BR]=Preferências;Configurações;
Keywords[ru]=Предпочтения;Настройки;
Keywords[tr]=Tercihler;Yeğler;Ayarlar;
Keywords[zh_CN]=首选项;设置;设定;
DBusActivatable=true
