[Desktop Entry]
Type=Application
Name=Network
Comment=Control how you connect to the Internet
#TRANSLATIONS
Keywords=network;ethernet;wifi;wired;wireless;
Icon=preferences-system-network
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware


# Translations
Comment[nl]=Controlleer hoe je verbindt met het Internet
Name[nl]=Netwerk
Icon[nl]=instellingen-systeem-netwerk
