[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Network
Comment=Control how you connect to the Internet
Keywords=network;ethernet;wifi;wired;wireless;
Icon=preferences-system-network
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware

#TRANSLATIONS_DIR=translations


# Translations
Comment[zh_CN]=控制连接 internet 的方式
Name[zh_CN]=网络
Icon[zh_CN]=偏好设置-系统-网络
