[Desktop Entry]
Type=Application
Name=Network
Comment=Control how you connect to the Internet
#TRANSLATIONS
Keywords=network;ethernet;wifi;wired;wireless;
Icon=preferences-system-network
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware


# Translations
Comment[zh_TW]=控制如何連接網路
Name[zh_TW]=網際網路
Icon[zh_TW]=偏好設定—系統—網路
