[Desktop Entry]
Type=Application
Name=Network
Comment=Control how you connect to the Internet
#TRANSLATIONS
Keywords=network;ethernet;wifi;wired;wireless;
Icon=preferences-system-network
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware


# Translations
Comment[es_419]=Controle cómo se conecta a Internet
Name[es_419]=Red
Icon[es_419]=preferencias-sistema-red
