[Desktop Entry]
Type=Application
Name=Network
Comment=Control how you connect to the Internet
#TRANSLATIONS
Keywords=network;ethernet;wifi;wired;wireless;
Icon=preferences-system-network
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware


# Translations
Comment[pl]=Kontroluj sposób łączenia się z internetem
Name[pl]=Sieć
Icon[pl]=ustawienia-systemu-sieć
