[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Network
Comment=Control how you connect to the Internet
Keywords=network;ethernet;wifi;wired;wireless;
Icon=preferences-system-network
Categories=Qt;X-Hawaii;Settings;
OnlyShowIn=X-Hawaii;
X-Hawaii-SystemPreferences-Category=hardware

#TRANSLATIONS_DIR=translations


# Translations
Comment[pt_BR]=Controle como você se conecta a Internet
Name[pt_BR]=Rede
Icon[pt_BR]=preferences-system-network
