[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Network
Comment=Control how you connect to the Internet
Keywords=network;ethernet;wifi;wired;wireless;
Icon=preferences-system-network
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware

#TRANSLATIONS_DIR=translations


# Translations
Comment[ast]=Controla como te coneutes a internet
Name[ast]=Rede
