[Desktop Entry]
Name=Network
Comment=Control how you connect to the Internet
Icon=preferences-system-network
Keywords=Net;Network;Ethernet;WiFi;Wired;Wireless;
X-Hawaii-PluginInfo-Type=HawaiiSystemPreferences
X-Hawaii-PluginInfo-Name=org.hawaii.preferences.network
X-Hawaii-PluginInfo-Author=Pier Luigi Fiorini <pierluigi.fiorini@gmail.com>
X-Hawaii-PluginInfo-Email=pierluigi.fiorini@gmail.com
X-Hawaii-PluginInfo-Website=http://www.maui-project.org
X-Hawaii-PluginInfo-License=GPLv2+
X-Hawaii-PluginInfo-MainScript=ui/Preflet.qml
X-Hawaii-HawaiiSystemPreferences-Category=Hardware
