[Desktop Entry]
Name=Network
Comment=Control how you connect to the Internet
Exec=hawaii-system-preferences network
Icon=preferences-system-network
Terminal=false
Type=Application
StartupNotify=true
Categories=X-Hawaii;Qt;Settings;HardwareSettings;
OnlyShowIn=X-Hawaii;
Keywords=Net;Network;Ethernet;WiFi;Wired;Wireless;
X-Hawaii-ModuleName=network
X-Hawaii-ModulePath=@CMAKE_INSTALL_FULL_LIBDIR@/hawaii/plugins/preferences/network.so
X-Hawaii-FormFactors=desktop;


# Translations
Comment[it]=Controlla il collegamento ad Internet
Name[it]=Rete
Icon[it]=preferences-system-network
