[Desktop Entry]
Categories=Qt;X-Liri;Settings;
Comment=Change the appearance of your desktop
Comment[ar]=غير مظهر سطح مكتبك
Comment[ca]=Canvia l'aparença del teu escriptori
Comment[da]=Skift dit skrivebords udseende
Comment[de]=Das Erscheinungsbild des Desktops verändern
Comment[el]=Αλλάξτε την εμφάνιση της επιφάνειας εργασίας σας
Comment[es]=Cambia la apariencia de tu escritorio
Comment[es_419]=Cambie la apariencia de su escritorio
Comment[es_MX]=Cambiar la apariencia de su escritorio
Comment[fr]=Changez l'apparence de votre bureau
Comment[id]=Ubah tampilan desktop Anda
Comment[it]=Cambia lo stile del tuo desktop
Comment[ja]=デスクトップの見た目を変更
Comment[lt]=Keisti savo darbalaukio išvaizdą
Comment[nl]=Verander het uiterlijk van jouw bureaublad
Comment[no]=Endre utseendet til skrivebordet
Comment[pl]=Zmień wygląd swojego pulpitu
Comment[pt]=Mudar a aparência da sua Área de Trabalho
Comment[pt_BR]=Alterar a aparência da sua área de trabalho
Comment[pt_PT]=Alterar a aparência da sua área de trabalho
Comment[ru]=Изменить внешний вид рабочего стола
Comment[tr]=Masaüstünüzün görünüşünü değiştirin
Comment[zh_CN]=更改桌面样式
Comment[zh_TW]=並更桌面外觀
Icon=applications-system
Keywords=Appearance;Style;Background;Wallpaper;Color;Theme;Desktop;Personalize;
Name=Appearance
Name[ar]=المظهر
Name[ca]=Aparença
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση
Name[es]=Apariencia
Name[es_419]=Apariencia
Name[es_MX]=Apariencia
Name[fr]=Apparence
Name[id]=Tampilan
Name[it]=Aspetto
Name[ja]=外観
Name[lt]=Išvaizda
Name[nl]=Uiterlijk
Name[no]=Utseende
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[pt_PT]=Aparência
Name[ru]=Внешний вид
Name[tr]=Görünüş
Name[zh_CN]=样式
Name[zh_TW]=外觀
OnlyShowIn=X-Liri;
Type=Application
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=image/style
