[Desktop Entry]
Type=Application
Name=System Preferences
Name[it]=Preferenze di sistema
GenericName=System Preferences
GenericName[it]=Preferenze di sistema
Comment=Manages system preferences
Comment[it]=Gestisce le preferenze di sistema
Icon=preferences-system
Exec=hawaii-system-preferences
TryExec=hawaii-system-preferences
Terminal=false
StartupNotify=true
Categories=Qt;Hawaii;Settings;Core;
OnlyShowIn=Hawaii;
Keywords=Preferences;Settings;
