[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=System Preferences
Name[el]=Προτιμήσεις συστήματος
Name[ru]=Системные настройки
Name[tr]=Sistem Tercihleri
Name[no]=Systeminnstillinger
Name[it]=Preferenze di sistema
Name[de]=Systemeinstellungen
Name[pl]=Ustawienia systemu
Name[sk]=Nastavenia systému
Name[hu]=Rendszerbeállítások
Name[fr]=Préférences Système
Name[ar]=تفضيلات النظام
Name[ja_JP]=環境設定
Name[pt_BR]=Preferências do sistema
GenericName=System Preferences
GenericName[el]=Προτιμήσεις συστήματος
GenericName[ru]=Системные настройки
GenericName[tr]=Sistem Tercihleri
GenericName[no]=Systeminnstillinger
GenericName[it]=Preferenze di sistema
GenericName[de]=Systemeinstellungen
GenericName[pl]=Ustawienia systemu
GenericName[sk]=Nastavenia systému
GenericName[hu]=Rendszerbeállítások
GenericName[fr]=Préférences Système
GenericName[ar]=تفضيلات النظام
GenericName[ja_JP]=環境設定
GenericName[pt_BR]=Preferências do sistema
Comment=Manages system preferences
Comment[el]=Διαχειρίζεται τις προτιμήσεις συστήματος
Comment[ru]=Управление настройками системы
Comment[tr]=Sistem tercihlerini yönetir
Comment[no]=Behandler systeminnstillinger
Comment[it]=Gestisce le impostazioni di sistema
Comment[de]=Administration von System Einstellungen
Comment[pl]=Zarządza ustawieniami systemu
Comment[sk]=Spravuje nastavenia systému
Comment[hu]=Rendszerbeállítások kezelése
Comment[fr]=Gestion des préférences système
Comment[ar]=إدارة تفضيلات النظام
Comment[ja_JP]=環境設定を管理する
Comment[pt_BR]=Gerencie as preferências do sistema
Icon=preferences-system
Exec=hawaii-system-preferences
TryExec=hawaii-system-preferences
Terminal=false
StartupNotify=true
Categories=Qt;Hawaii;Settings;Core;
OnlyShowIn=Hawaii;
Keywords=Preferences;Settings;
