[Desktop Entry]
Name=Network
Name[it]=Rete
Comment=Control how you connect to the Internet
Comment[it]=Controlla il collegamento ad Internet
Exec=hawaii-settings network
Icon=preferences-system-network
Terminal=false
Type=Application
StartupNotify=true
Categories=X-Hawaii;Qt;Settings;HardwareSettings;
OnlyShowIn=X-Hawaii;
Keywords=Net;Network;Ethernet;WiFi;Wired;Wireless;
