[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Icon=preferences-system
Exec=hawaii-system-preferences
TryExec=hawaii-system-preferences
Terminal=false
StartupNotify=true
Categories=Qt;Hawaii;Settings;Core;
OnlyShowIn=Hawaii;
Keywords=Preferences;Settings;
Comment[ar]=إدارة تفضيلات النظام
GenericName[ar]=تفضيلات النظام
Name[ar]=تفضيلات النظام
Icon[ar]=تفضيلات سطح المكتب
Comment[de]=Administration von System Einstellungen
GenericName[de]=Systemeinstellungen
Name[de]=Systemeinstellungen
Icon[de]=preferences-desktop
Comment[el]=Διαχειρίζεται τις προτιμήσεις συστήματος
GenericName[el]=Προτιμήσεις συστήματος
Name[el]=Προτιμήσεις συστήματος
Icon[el]=preferences-desktop
Comment[fr]=Gestion des préférences système
GenericName[fr]=Préférences Système
Name[fr]=Préférences Système
Icon[fr]=preferences-desktop
Comment[hu]=Rendszerbeállítások kezelése
GenericName[hu]=Rendszerbeállítások
Name[hu]=Rendszerbeállítások
Icon[hu]=preferences-desktop
Comment[it]=Gestisce le impostazioni di sistema
GenericName[it]=Preferenze di sistema
Name[it]=Preferenze di sistema
Icon[it]=preferences-desktop
Comment[ja_JP]=環境設定を管理する
GenericName[ja_JP]=環境設定
Name[ja_JP]=環境設定
Icon[ja_JP]=preferences-desktop
Comment[no]=Behandler systeminnstillinger
GenericName[no]=Systeminnstillinger
Name[no]=Systeminnstillinger
Icon[no]=innstillinger-skrivebord
Comment[pl]=Zarządza ustawieniami systemu
GenericName[pl]=Ustawienia systemu
Name[pl]=Ustawienia systemu
Icon[pl]=preferences-desktop
Comment[pt_BR]=Gerencie as preferências do sistema
GenericName[pt_BR]=Preferências do sistema
Name[pt_BR]=Preferências do sistema
Icon[pt_BR]=preferences-desktop
Comment[ru]=Управление настройками системы
GenericName[ru]=Системные настройки
Name[ru]=Системные настройки
Icon[ru]=Настройки рабочего стола
Comment[sk]=Spravuje nastavenia systému
GenericName[sk]=Nastavenia systému
Name[sk]=Nastavenia systému
Icon[sk]=preferences-desktop
Comment[tr]=Sistem tercihlerini yönetir
GenericName[tr]=Sistem Tercihleri
Name[tr]=Sistem Tercihleri
Icon[tr]=masaüstü-tercihleri
