[Desktop Entry]
Name=Background
Name[it]=Sfondo
Comment=Change your background image to a wallpaper, photo or solid color
Comment[it]=Imposta una immagine, una foto od un colore pieno come sfondo
Exec=hawaii-settings org.hawaiios.Settings.Background
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
StartupNotify=true
Categories=X-Hawaii;Qt;Settings;X-Hawaii-PersonalSettings;
OnlyShowIn=X-Hawaii;
Keywords=Wallpaper;Screen;Desktop;
