[Desktop Entry]
Name=Keyboard
Name[it]=Tastiera
Comment=View and change keyboard shortcuts and set your typing preferences
Comment[it]=Visualizza e cambia le scorciatoie da tastiera imposta le preferenze di digitazione
Exec=hawaii-system-preferences org.hawaii.preferences.keyboard
Icon=input-keyboard
Terminal=false
Type=Application
StartupNotify=true
Categories=X-Hawaii;Qt;Settings;HardwareSettings;
OnlyShowIn=X-Hawaii;
Keywords=Shortcut;Repeat;Blink;
