[Desktop Entry]
Name=Power
Comment=View your battery status and change power saving settings
Exec=hawaii-settings org.hawaiios.Settings.Power
Icon=preferences-system-power-management
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;Settings;X-Hawaii;X-Hawaii-HardwareSettings;
OnlyShowIn=X-Hawaii;
Keywords=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;
