[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Icon=preferences-desktop
Exec=hawaii-system-preferences
TryExec=hawaii-system-preferences
Categories=Qt;Hawaii;Settings;Core;
Terminal=false
OnlyShowIn=Hawaii;

X-Hawaii-Identifier=org.hawaii.SystemPreferences
X-Hawaii-Version=@SYSTEMPREFERENCES_VERSION_STRING@


# Translations
Comment[it]=Gestisce le impostazioni di sistema
GenericName[it]=Preferenze di sistema
Name[it]=Preferenze di sistema
Icon[it]=preferences-desktop
