[Desktop Entry]
Name=Power
Comment=View your battery status and change power saving settings
Exec=liri-settings power
Icon=preferences-system-power-management
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;Settings;X-Liri;X-Liri-HardwareSettings;
OnlyShowIn=X-Liri;
Keywords=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;
