[Desktop Entry]
Name=Desktop
Name[it]=Scrivania
Comment=Configure desktop preferences
Comment[it]=Configura preferenza della scrivania
Exec=liri-settings desktop
Icon=preferences-desktop
Terminal=false
Type=Application
StartupNotify=true
Categories=X-Liri;Qt;Settings;X-Liri-PersonalSettings;
OnlyShowIn=X-Liri;
Keywords=Desktop;Launcher;Hot;Corner;
