[Desktop Entry]
Name=Background
Name[it]=Sfondo
Comment=Change your background image to a wallpaper, photo or solid color
Comment[it]=Imposta una immagine, una foto od un colore pieno come sfondo
Exec=liri-settings background
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
StartupNotify=true
Categories=X-Liri;Qt;Settings;X-Liri-PersonalSettings;
OnlyShowIn=X-Liri;
Keywords=Wallpaper;Screen;Desktop;
