[Desktop Entry]
Type=Application
Name=System Preferences
Name[no]=Systeminnstillinger
Name[ast]=Preferencies del sistema
Name[pt_BR]=Preferências do sistema
Name[el]=Προτιμήσεις συστήματος
Name[pl]=Ustawienia systemu
Name[ja_JP]=環境設定
Name[cs_CZ]=Nastavení systému
Name[hu]=Rendszerbeállítások
Name[tr]=Sistem Tercihleri
Name[fr]=Préférences Système
Name[it]=Preferenze di sistema
Name[ru]=Системные настройки
Name[de]=Systemeinstellungen
Name[it_IT]=Preferenze di sistema
Name[ar]=تفضيلات النظام
Name[sk]=Nastavenia systému
GenericName=System Preferences
GenericName[no]=Systeminnstillinger
GenericName[ast]=Preferencies del sistema
GenericName[pt_BR]=Preferências do sistema
GenericName[el]=Προτιμήσεις συστήματος
GenericName[pl]=Ustawienia systemu
GenericName[ja_JP]=環境設定
GenericName[cs_CZ]=Nastavení systému
GenericName[hu]=Rendszerbeállítások
GenericName[tr]=Sistem Tercihleri
GenericName[fr]=Préférences Système
GenericName[it]=Preferenze di sistema
GenericName[ru]=Системные настройки
GenericName[de]=Systemeinstellungen
GenericName[it_IT]=Preferenze di sistema
GenericName[ar]=تفضيلات النظام
GenericName[sk]=Nastavenia systému
Comment=Manages system preferences
Comment[no]=Behandler systeminnstillinger
Comment[ast]=Alministra les preferencies del sistema
Comment[pt_BR]=Gerencie as preferências do sistema
Comment[el]=Διαχειρίζεται τις προτιμήσεις συστήματος
Comment[pl]=Zarządza ustawieniami systemu
Comment[ja_JP]=環境設定を管理する
Comment[cs_CZ]=Spravuje nastavení systému
Comment[hu]=Rendszerbeállítások kezelése
Comment[tr]=Sistem tercihlerini yönetir
Comment[fr]=Gestion des préférences système
Comment[it]=Gestisce le impostazioni di sistema
Comment[ru]=Управление настройками системы
Comment[de]=Administration von System Einstellungen
Comment[it_IT]=Gestisce le impostazioni di sistema
Comment[ar]=إدارة تفضيلات النظام
Comment[sk]=Spravuje nastavenia systému
Icon=preferences-system
Exec=hawaii-system-preferences
TryExec=hawaii-system-preferences
Terminal=false
StartupNotify=true
Categories=Qt;X-Hawaii;Settings;Core;
OnlyShowIn=X-Hawaii;
Keywords=Preferences;Settings;
