[Desktop Entry]
Type=Application
Name=Keyboard
Name[da]=Tastatur
Name[it]=Tastiera
Name[lt]=Klaviatūra
Name[pt_BR]=Teclado
Name[ru]=Клавиатура
Name[tr]=Klavye
Comment=View and change keyboard shortcuts and set your typing preferences
Comment[da]=Vis og skift tastaturgenveje og sæt dine skrivepræferencer
Comment[it]=Mostra e cambia scorciatoie da tastiera e imposta le tue preferenze di scrittura
Comment[lt]=Rodyti ir keisti klaviatūros trumpinius bei nusistatyti rašymo nuostatas
Comment[pt_BR]=Ver e alterar atalhos do teclado e definir preferências de digitação
Comment[ru]=Показать и изменить клавиатурные сокращения и установить ваши предпочтения ввода
Comment[tr]=Klavye kısayollarını görüntüleyin, değiştirin ve yazım tercihlerinizi belirleyin
Keywords=shortcut;repeat;blink;
Keywords[da]=genvej;gentag;blink;
Keywords[it]=Scorciatoia;Ripetizione;Lampeggiamento;
Keywords[pt_BR]=atalho;repetir;piscar;
Keywords[tr]=kısayol;yineleme;yanıpsönme;gözkırpma;
Icon=input-keyboard
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=hardware/keyboard
