[Desktop Entry]
Type=Application
Name=Region & Language
Name[da]=Region og sprog
Name[it]=Regione & Lingua
Name[lt]=Regionas ir kalba
Name[pt_BR]=Região e idioma
Name[ru]=Регион & Язык
Name[tr]=Bölge ve Dil
Comment=Select your display language and formats
Comment[da]=Vælg dit viste sprog og formater
Comment[it]=Seleziona la lingua ed i formati visualizzati
Comment[lt]=Pasirinkti rodomą kalbą ir formatus
Comment[pt_BR]=Selecione seu idioma e formato de exibição
Comment[tr]=Görüntüleme dilinizi ve biçimlerinizi seçin
Keywords=Language;Region;Format;
Keywords[da]=Sprog;Region;Format;
Keywords[it]=Lingua;Regione;Formato;
Keywords[lt]=Kalba;Regionas;Formatai;Formatas;
Keywords[pt_BR]=Idioma;Região;Formato;
Keywords[ru]=Язык;Регион;Формат;
Keywords[tr]=Dil;Bölge;Biçim;
Icon=applications-system
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=action/language
