[Desktop Entry]
Categories=Qt;X-Liri;Settings;
Comment=Select your display language and formats
Comment[da]=Vælg dit viste sprog og formater
Comment[es_419]=Selecciona tu idioma y formatos
Comment[fr]=Sélectionnez votre langue d'affichage et des formats
Comment[nl]=Kies je display taal en formaat
Comment[pt_BR]=Selecione seu idioma e formato de exibição
Comment[tr]=Görüntüleme dilinizi ve biçimlerinizi seçin
Comment[zh_CN]=选择您的显示语言和格式
Comment[zh_TW]=選擇顯示語言及格式
Icon=applications-system
Keywords=Language;Region;Format;
Name=Region & Language
Name[da]=Region og sprog
Name[es_419]=Región e idioma
Name[fr]=Région & langue
Name[nl]=Gebied & Taal
Name[pt_BR]=Região e idioma
Name[tr]=Bölge ve Dil
Name[zh_CN]=地区和语言
Name[zh_TW]=語言與地區
OnlyShowIn=X-Liri;
Type=Application
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=action/language
