[Desktop Entry]
Name=Desktop
Comment=Configure desktop preferences
Icon=preferences-desktop
Keywords=Desktop;Launcher;Hot;Corner;
X-Liri-PluginInfo-Type=LiriSettings
X-Liri-PluginInfo-Name=io.liri.Settings.Desktop
X-Liri-PluginInfo-Author=Pier Luigi Fiorini
X-Liri-PluginInfo-Email=pierluigi.fiorini@gmail.com
X-Liri-PluginInfo-Website=http://liri.io
X-Liri-PluginInfo-License=GPLv3+
X-Liri-PluginInfo-MainScript=ui/Preflet.qml
X-Liri-LiriSettings-Category=Personal
