[Desktop Entry]
Type=Application
Name=Users
Comment=Manage user accounts
Keywords=User;Users;Me;Account;People;Person;Guest;Admin;Create;Delete;Password
Icon=preferences-system-users
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=system
X-Liri-Settings-SymbolicIcon=social/people


# Translations
Comment[zh_CN]=管理用户账户
Name[zh_CN]=用户
Icon[zh_CN]=偏好-系统-用户
