[Desktop Entry]
Type=Application
Name=Users
Comment=Manage user accounts
Keywords=User;Users;Me;Account;People;Person;Guest;Admin;Create;Delete;Password
Icon=preferences-system-users
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=system
X-Liri-Settings-SymbolicIcon=social/people


# Translations
Comment[zh_TW]=管理使用者帳戶
Name[zh_TW]=使用者
Icon[zh_TW]=偏好設定—系統—使用者
