[Desktop Entry]
Name=Keyboard
Comment=View and change keyboard shortcuts and set your typing preferences
Keywords=Shortcut;Repeat;Blink;


# Translations


# Translations
Comment[pt_BR]=Visualize e altere os atalhos de teclado e configure suas preferências de digitação
Name[pt_BR]=Teclado
