[Desktop Entry]
Name=Keyboard
Comment=View and change keyboard shortcuts and set your typing preferences
Keywords=Shortcut;Repeat;Blink;


# Translations


# Translations
Comment[de]=Tastaturkürzel und Tastatureinstellungen anzeigen und anpassen
Name[de]=Tastatur
