[Desktop Entry]
Name=Keyboard
Comment=View and change keyboard shortcuts and set your typing preferences
Keywords=Shortcut;Repeat;Blink;


# Translations
Comment[pt_BR]=Visualize e altere os atalhos de teclado e configure suas preferências de digitação
Name[pt_BR]=Teclado
Comment[hr_HR]=Pogledaj i promjeni prečace tipkovnice i postavi svoje osobitosti tipkanja
Name[hr_HR]=Tipkovnica
Comment[cs_CZ]=Prohlížejte a měňte klávesové zkratky a nastavte způsob, jakým píšete
Name[cs_CZ]=Klávesnice
Comment[ru]=Просмотр и изменение горячих клавиш, а также настройки набора текста.
Name[ru]=Клавиатура
Comment[sk]=Zobrazenie a zmena klávesových skratiek a nastavenie vlastností zadávania textu
Name[sk]=Klávesnica
Comment[it]=Visualizza e cambia le scorciatoie da tastiera imposta le preferenze di digitazione
Name[it]=Tastiera
Comment[ca]=Vegeu i canvieu les dreceres del teclat i establiu les preferències de tecleig
Name[ca]=Teclat
Comment[de]=Tastaturkürzel und Tastatureinstellungen anzeigen und anpassen
Name[de]=Tastatur
Name[lt]=Klaviatūra
Comment[tr]=Klavye kısayollarını görüntüleme ve değiştirme ile yazma tercihlerini ayarla
Name[tr]=Klavye
Comment[es]=Ver y cambiar atajos de teclado y preferencias de escritura
Name[es]=Teclado
Name[ja_JP]=キーボード
Comment[fr]=Regardez et changez vos raccourcis clavier et modifiez vos préférences
Name[fr]=Clavier
