[Desktop Entry]
Type=Application
Name=Keyboard
Comment=View and change keyboard shortcuts and set your typing preferences
#TRANSLATIONS
Keywords=shortcut;repeat;blink;
Icon=input-keyboard
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=hardware/keyboard


# Translations
Comment[pt_BR]=Ver e alterar atalhos do teclado e definir preferências de digitação
Name[pt_BR]=Teclado
Icon[pt_BR]=input-keyboard
