[Desktop Entry]
Name=Power
Comment=View your battery status and change power saving settings
Keywords=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;


# Translations
Comment[it]=Visualizza lo stato della batteria e cambia le impostazioni di risparmio energetico
Name[it]=Alimentazione
