[Desktop Entry]
Type=Application
Name=Power
Comment=View your battery status and change power saving settings
Keywords=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;
Icon=preferences-system-power-management
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=notification/power


# Translations
Comment[pt_PT]=Ver estado da bateria e alterar definições de poupança de energia
Name[pt_PT]=Energia
