[Desktop Entry]
Name=Power
Comment=View your battery status and change power saving settings
Keywords=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;


# Translations
Comment[ca]=Vegeu l'estat de la bateria i canvieu els paràmetres d'estalvi d'energia
Name[ca]=Energia
