[Desktop Entry]
Name=Power
Comment=View your battery status and change power saving settings
Keywords=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;


# Translations
Comment[sk]=Zobraziť stav batérie a zmeniť nastavenia možností napájania
Name[sk]=Výkon
