[Desktop Entry]
Categories=Qt;X-Liri;Settings;
Comment=View and change keyboard shortcuts and set your typing preferences
Comment[ca]=Veja i canvie les dreceres de teclat i estableixi les seues preferències d'escriptura
Comment[da]=Vis og skift tastaturgenveje og sæt dine skrivepræferencer
Comment[de]=Kurzbefehle ansehen, verändern und Schreibeinstellungen ändern
Comment[el]=Δείτε και αλλάξτε τις συντομεύσεις πληκτρολογίου και ορίστε τις προτιμήσεις πληκτρολόγησης
Comment[es]=Ver y modificar los accesos directos y otras configuraciones del teclado
Comment[es_419]=Ver y cambiar los métodos abreviados de teclado y configurar sus preferencias de escritura
Comment[es_MX]=Ver y cambiar los métodos abreviados de teclado y configurar sus preferencias de escritura
Comment[fr]=Visualisez et changez les raccourcis claviers et choisissez vos préférence de frappe
Comment[id]=Lihat dan ubah jalan pintas papan ketik dan ubah preferensi mengetik Anda
Comment[it]=Mostra e cambia scorciatoie da tastiera e imposta le tue preferenze di scrittura
Comment[ja]=キーボードやショートカットを設定
Comment[lt]=Rodyti ir keisti klaviatūros trumpinius ir nustatyti savo rašymo nuostatas
Comment[nl]=Bekijk en bewerk toetsenbord sneltoetsen en type instellingen
Comment[no]=Se på og endre snarveier og sett skrivingspreferanser
Comment[pl]=Zobacz i edytuj skróty klawiaturowe i ustaw swoje preferencje wpisywania tekstu
Comment[pt_BR]=Ver e alterar atalhos do teclado e definir preferências de digitação
Comment[pt_PT]=Ver e alterar atalhos do teclado e definir preferências de digitação
Comment[ru]=Просмотреть и изменить сочетания клавиш и параметры набора
Comment[tr]=Klavye kısayollarını görün ve değiştirin, yazma tercihlerini belirleyin
Comment[zh_CN]=查看、改变键盘快捷键以及设置你的输入偏好
Comment[zh_TW]=檢視及改變鍵盤捷徑及輸入設定
Icon=input-keyboard
Keywords=shortcut;repeat;blink;
Name=Keyboard
Name[ca]=Teclat
Name[da]=Tastatur
Name[de]=Tastatur
Name[el]=Πληκτρολόγιο
Name[es]=Teclado
Name[es_419]=Teclado
Name[es_MX]=Palabra clave
Name[fr]=Clavier
Name[id]=Papan ketik
Name[it]=Tastiera
Name[ja]=キーボード
Name[lt]=Klaviatūra
Name[nl]=Toetsenbord
Name[no]=Tastatur
Name[pl]=Klawiatura
Name[pt_BR]=Teclado
Name[pt_PT]=Teclado
Name[ru]=Клавиатура
Name[tr]=Klavye
Name[zh_CN]=键盘
Name[zh_TW]=鍵盤設定
OnlyShowIn=X-Liri;
Type=Application
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=hardware/keyboard
