[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Icon=preferences-system
Exec=hawaii-system-preferences
TryExec=hawaii-system-preferences
Terminal=false
StartupNotify=true
Categories=Qt;Hawaii;Settings;Core;
OnlyShowIn=Hawaii;
Keywords=Preferences;Settings;


# Translations
Comment[cs_CZ]=Spravuje nastavení systému
GenericName[cs_CZ]=Nastavení systému
Name[cs_CZ]=Nastavení systému
Icon[cs_CZ]=preferences-system
