[Desktop Entry]
Type=Application
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
#TRANSLATIONS
Icon=preferences-desktop-wallpaper
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=image/color_lens


# Translations
Comment[zh_CN]=将背景图片更改为一张壁纸、照片或者纯色
Name[zh_CN]=背景
Icon[zh_CN]=偏好设置-桌面壁纸
