[Desktop Entry]
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
Keywords=Wallpaper;Screen;Desktop;


# Translations


# Translations
Comment[cs_CZ]=Změňte obrázek pozadí na tapetu nebo fotografii nebo plnou barvu
Name[cs_CZ]=Pozadí
