[Desktop Entry]
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
Keywords=Wallpaper;Screen;Desktop;


# Translations


# Translations
Comment[fr]=Changez l'image de fond pour y mettre un fond d'écran, une photo ou une couleur solide
Name[fr]=Fond d'écran
