[Desktop Entry]
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
Keywords=Wallpaper;Screen;Desktop;


# Translations


# Translations
Comment[tr]=Arkaplanı bir duvarkağıdna, foroğrafa yada düz bir renge değiştir
Name[tr]=Arkaplan
