[Desktop Entry]
Type=Application
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
#TRANSLATIONS
Icon=preferences-desktop-wallpaper
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=image/color_lens


# Translations
Comment[it]=Cambia la tua immagine di sfondo con un wallpaper, una foto o un colore
Name[it]=Sfondo
Icon[it]=Impostazioni sfondo del desktop
