[Desktop Entry]
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
Keywords=Wallpaper;Screen;Desktop;


# Translations


# Translations
Comment[ru]=Замените свой фон на обои, фотографию или сплошной цвет
Name[ru]=Фон
