[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
Icon=preferences-desktop-wallpaper
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=image/color_lens

#TRANSLATIONS_DIR=translations


# Translations
Comment[es_419]=Cambie su imagen de fondo a un wallpaper, foto o color sólido
Name[es_419]=Fondo
Icon[es_419]=preferencias-escritorio-wallpaper
