[Desktop Entry]
Type=Application
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
#TRANSLATIONS
Icon=preferences-desktop-wallpaper
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=image/color_lens


# Translations
Comment[de]=Ändere das Hintergrundbild zu einem Wallpaper, Foto oder Farbe
Name[de]=Hintergrundbild
Icon[de]=preferences-desktop-wallpaper
