[Desktop Entry]
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
Keywords=Wallpaper;Screen;Desktop;


# Translations


# Translations
Comment[sk]=Zmeniť obrázok pozadia na tapetu, fotku alebo výplň jednou farbou
Name[sk]=Pozadie
