[Desktop Entry]
Type=Application
Name=Background
Comment=Change your background image to a wallpaper, photo or solid color
#TRANSLATIONS
Icon=preferences-desktop-wallpaper
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=personal
X-Liri-Settings-SymbolicIcon=image/color_lens


# Translations
Comment[fr]=Changez votre image d'arrière plan par un fond d'écran, une photo ou une couleur plaine
Name[fr]=Arrière-Plan
Icon[fr]=preferences-bureau-fond-ecran
