[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Keywords=Preferences;Settings;


# Translations


# Translations
Comment[el]=Διαχειρίζεται τις προτιμήσεις συστήματος
GenericName[el]=Προτιμήσεις συστήματος
Name[el]=Προτιμήσεις συστήματος
