[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Keywords=Preferences;Settings;


# Translations


# Translations
Comment[it_IT]=Gestisce le impostazioni di sistema
GenericName[it_IT]=Preferenze di sistema
Name[it_IT]=Preferenze di sistema
