[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Keywords=Preferences;Settings;


# Translations


# Translations
Comment[ar]=إدارة تفضيلات النظام
GenericName[ar]=تفضيلات النظام
Name[ar]=تفضيلات النظام
