[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Keywords=Preferences;Settings;


# Translations
Comment[ar]=إدارة تفضيلات النظام
GenericName[ar]=تفضيلات النظام
Name[ar]=تفضيلات النظام
Comment[ca]=Gestió de les preferències del sistema
GenericName[ca]=Preferències del sistema
Name[ca]=Preferències del sistema
Comment[de]=Verwaltet Systemeinstellungen
GenericName[de]=Systemeinstellungen
Name[de]=Systemeinstellungen
Comment[el]=Διαχειρίζεται τις προτιμήσεις συστήματος
GenericName[el]=Προτιμήσεις συστήματος
Name[el]=Προτιμήσεις συστήματος
Comment[es]=Maneja las preferencias del sistema
GenericName[es]=Preferencias del sistema
Name[es]=Preferencias del Sistema
Comment[fr]=Gestion des préférences système
GenericName[fr]=Préférences Système
Name[fr]=Préférences Système
Comment[pt_BR]=Gerencie as preferências do sistema
GenericName[pt_BR]=Preferências do sistema
Name[pt_BR]=Preferências do sistema
Comment[hu]=Rendszerbeállítások kezelése
GenericName[hu]=Rendszerbeállítások
Name[hu]=Rendszerbeállítások
Comment[it]=Gestisce le impostazioni di sistema
GenericName[it]=Preferenze di sistema
Name[it]=Preferenze di sistema
GenericName[da_DK]=Systemindstillinger
Name[da_DK]=Systemindstillinger
Comment[lt]=Tvarko sistemos nuostatas
GenericName[lt]=Sistemos Nuostatos
Name[lt]=Sistemos Nuostatos
Comment[it_IT]=Gestisce le impostazioni di sistema
GenericName[it_IT]=Preferenze di sistema
Name[it_IT]=Preferenze di sistema
Comment[no]=Behandler systeminnstillinger
GenericName[no]=Systeminnstillinger
Name[no]=Systeminnstillinger
Comment[pl]=Zarządza ustawieniami systemu
GenericName[pl]=Ustawienia systemu
Name[pl]=Ustawienia systemu
Comment[hr_HR]=Upravlja osobitostima sustava
GenericName[hr_HR]=Osobitosti sustava
Name[hr_HR]=Osobitosti sustava
Comment[cs_CZ]=Spravuje nastavení systému
GenericName[cs_CZ]=Nastavení systému
Name[cs_CZ]=Nastavení systému
Comment[ru]=Управление настройками системы
GenericName[ru]=Системные настройки
Name[ru]=Системные настройки
Comment[sk]=Spravuje nastavenia systému
GenericName[sk]=Nastavenia systému
Name[sk]=Nastavenia systému
Comment[tr]=Sistem tercihlerini yönetir
GenericName[tr]=Sistem Tercihleri
Name[tr]=Sistem Tercihleri
Comment[ja_JP]=環境設定を管理する
GenericName[ja_JP]=環境設定
Name[ja_JP]=環境設定
Comment[ast]=Alministra les preferencies del sistema
GenericName[ast]=Preferencies del sistema
Name[ast]=Preferencies del sistema
Comment[kk]=Жүйелік баптауларды басқару
GenericName[kk]=Жүйелік баптаулар
Name[kk]=Жүйелік баптаулар
