[Desktop Entry]
Type=Application
Name=Keyboard
Comment=View and change keyboard shortcuts and set your typing preferences
#TRANSLATIONS
Keywords=shortcut;repeat;blink;
Icon=input-keyboard
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=hardware/keyboard


# Translations
Comment[zh_CN]=查看、改变键盘快捷键以及设置你的输入偏好
Name[zh_CN]=键盘
Icon[zh_CN]=输入-键盘
