[Desktop Entry]
Type=Application
Name=Keyboard
Comment=View and change keyboard shortcuts and set your typing preferences
#TRANSLATIONS
Keywords=shortcut;repeat;blink;
Icon=input-keyboard
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=hardware/keyboard


# Translations
Comment[ca]=Veja i canvie les dreceres de teclat i estableixi les seues preferències d'escriptura
Name[ca]=Teclat
Icon[ca]=entrada-teclat
