[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Keywords=Preferences;Settings;


# Translations


# Translations
Comment[lt]=Tvarko sistemos nuostatas
GenericName[lt]=Sistemos Nuostatos
Name[lt]=Sistemos Nuostatos
