[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Keywords=Preferences;Settings;


# Translations


# Translations
Comment[pt_BR]=Gerencie as preferências do sistema
GenericName[pt_BR]=Preferências do sistema
Name[pt_BR]=Preferências do sistema
