[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Keywords=Preferences;Settings;


# Translations


# Translations
Comment[tr]=Sistem tercihlerini yönetir
GenericName[tr]=Sistem Tercihleri
Name[tr]=Sistem Tercihleri
