[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Keywords=Preferences;Settings;


# Translations


# Translations
Comment[ru]=Управление настройками системы
GenericName[ru]=Системные настройки
Name[ru]=Системные настройки
