[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Keywords=Preferences;Settings;


# Translations


# Translations
Comment[ja_JP]=環境設定を管理する
GenericName[ja_JP]=環境設定
Name[ja_JP]=環境設定
