[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Keywords=Preferences;Settings;


# Translations


# Translations
Comment[fr]=Gestion des préférences système
GenericName[fr]=Préférences Système
Name[fr]=Préférences Système
