[Desktop Entry]
Type=Application
Name=System Preferences
GenericName=System Preferences
Comment=Manages system preferences
Keywords=Preferences;Settings;


# Translations


# Translations
Comment[no]=Behandler systeminnstillinger
GenericName[no]=Systeminnstillinger
Name[no]=Systeminnstillinger
