[Desktop Entry]
Type=Application
Name=Displays
Name[da]=Skærme
Name[it]=Schermi
Name[lt]=Ekranai
Name[pt_BR]=Telas
Name[tr]=Ekranlar
Name[zh_CN]=显示器
Comment=Choose how to use connected monitors and projectors
Comment[da]=Vælg hvordan tilsluttede skærme og projektorer skal bruges
Comment[it]=Scegli come usare gli schermi ed i proiettori collegati
Comment[lt]=Pasirinkti kaip naudoti prijungtus monitorius ir projektorius
Comment[pt_BR]=Escolha como usar os monitores e projetores conectados
Comment[ru]=Выберите, как использовать подключенные мониторы и проекторы
Comment[tr]=Bağlı monitörlerin ve projektörlerin nasıl kullanılacağını seçin
Comment[zh_CN]=你将怎样使用显示器和投影设备？
Icon=preferences-desktop-display
TryExec=liri-settings
Exec=liri-settings display
Categories=Qt;X-Liri;Settings;HardwareSettings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=hardware/desktop_windows
